{% set css %}
  {% include "style.css" %}
{% endset %}

<style>
  {{ css | cssmin | safe }}
</style>

<head>
  <title>Media-diet</title>
</head>

<header>
  <nav>
    <ul>
      <li>Books</li>
      <li>Games</li>
      <li>Series</li>
      <li>Movies</li>
    </ul>
    <ul>
      <li>Stats</li>
      <li>About</li>
      <li><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 7H7V9H9V7Z" fill="currentColor" /><path d="M7 13V11H9V13H7Z" fill="currentColor" /><path d="M7 15V17H9V15H7Z" fill="currentColor" /><path d="M11 15V17H17V15H11Z" fill="currentColor" /><path d="M17 13V11H11V13H17Z" fill="currentColor" /><path d="M17 7V9H11V7H17Z" fill="currentColor" /></svg></li>
      <li><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 7H7V11H11V7Z" fill="currentColor" /><path d="M11 13H7V17H11V13Z" fill="currentColor" /><path d="M13 13H17V17H13V13Z" fill="currentColor" /><path d="M17 7H13V11H17V7Z" fill="currentColor" /></svg></li>
    </ul>
  </nav>
</header>

<main>

  <ul>
    <li>2021</li>
    <li>2020</li>
  </ul>

  <h2>Books</h2>

  <div class="grid">
  {% for item in collections.books %}
      <article class="item">
        <img src="https://covers.openlibrary.org/b/isbn/{{ item.data.isbn }}-L.jpg" alt="{{ item.data.title}} book cover" />
        <h3>{{ item.data.title }}</h2>
        <h4>{{ item.data.author }}</h3>
      </article>
  {% endfor %}
  </div>

  <h2>Games</h2>

    {% for item in collections.games %}
      <article class="item">
        <img src="https://covers.openlibrary.org/b/isbn/{{ item.data.isbn }}-L.jpg" alt="{{ item.data.title}} book cover" />
        <h3>{{ item.data.title }}</h2>
        <h4>{{ item.data.platform }}</h3>
      </article>
  {% endfor %}

  <h2>Series</h2>

    {% for item in collections.series %}
      <article class="item">
        <img src="https://covers.openlibrary.org/b/isbn/{{ item.data.isbn }}-L.jpg" alt="{{ item.data.title}} book cover" />
        <h3>{{ item.data.title }}</h2>
        <h4>{{ item.data.platform }}</h3>
      </article>
    {% endfor %}

  <h2>Movies</h2>

    {% for item in collections.movies %}
      <article class="item">
        <img src="https://covers.openlibrary.org/b/isbn/{{ item.data.isbn }}-L.jpg" alt="{{ item.data.title}} book cover" />
        <h3>{{ item.data.title }}</h2>
        <h4>{{ item.data.platform }}</h3>
      </article>
    {% endfor %}    
</main>