html {
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0)
    linear-gradient(rgb(255, 255, 255) 0%, #edf4ff 100%) no-repeat scroll 0% 0%;
  color: #1e2632;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

img {
  width: 10vw;
}

nav {
  color: #272f3b;
}

main {
  width: 80vw;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
}

header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

h3,
h4 {
  color: #7d8a9d;
  font-weight: 200;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
}

header nav {
  display: flex;
  border-bottom: 1px solid #7d8a9d;
  font-weight: 200;
  letter-spacing: 1.3;
}

header > ul {
  border-bottom: 1px solid #272f3b;
}

header ul li:not(:last-of-type) {
  margin-right: 1em;
}

header nav ul:last-of-type {
  margin-left: auto;
}

main {
  margin-top: 10vh;
}

canvas {
  margin-top: 20vh;
}

article {
  box-shadow: 0 24px 66px 0 rgba(10, 107, 255, 0.02),
    0 16px 40px 0 rgba(10, 107, 255, 0.03), 0 2px 8px 0 rgba(10, 107, 255, 0.1),
    0 1px 2px 0 rgba(10, 107, 255, 0.07);
}
