:root {
  --primary: #f2f5fa;
}

html {
  box-sizing: border-box;
}

header {
  background: rgb(253, 191, 179);
  background: linear-gradient(
    179deg,
    rgba(192, 54, 225, 1) 0%,
    rgba(192, 54, 225, 1) 18%,
    rgba(192, 54, 225, 1) 30%,
    rgba(150, 202, 241, 1) 68%,
    rgba(171, 214, 243, 0) 88%,
    rgba(198, 230, 245, 0) 100%
  );
  height: 50vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -6;
}

body {
  background: var(--primary);
  color: #1e2632;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1em;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

img {
  width: 10vw;
}

nav {
  color: #272f3b;
}

main {
  width: 80vw;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
}

header ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

h3,
h4 {
  margin: 0;
}

h2 {
  font-weight: 400;
  opacity: 0.7;
}

h4 {
  font-weight: 200;
  line-height: 1.8;
}

header nav {
  display: flex;
  font-weight: 200;
  letter-spacing: 1.3;
  color: white;
  font-weight: 300;
}

header ul li:not(:last-of-type) {
  margin-right: 1em;
}

header nav {
  display: flex;
  justify-content: space-between;
}

header nav ul:nth-of-type(1) {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 -1px 2px 0 rgba(255, 255, 255, 0.3),
    0 3px 6px 0 rgba(0, 44, 97, 0.12);
  border-radius: 20px;
  color: white;
  margin: 1em;
  height: 10px;
  font-size: 0.8em;
}

header nav ul:nth-of-type(1) li {
  transition: 250ms ease;
}

header nav ul:nth-of-type(1) li:hover {
  transform: translateY(-2px);
}

header nav ul:nth-of-type(2) {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 -1px 2px 0 rgba(255, 255, 255, 0.3),
    0 3px 6px 0 rgba(0, 44, 97, 0.12);
  border-radius: 20px;
  color: white;
  padding: 16px;
  height: 10px;
  font-weight: 400;
  font-size: 0.7em;
  transition: 250ms ease;
  margin: 1em;
}

header nav ul:nth-of-type(3) li {
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 -1px 2px 0 rgba(255, 255, 255, 0.3),
    0 3px 6px 0 rgba(0, 44, 97, 0.12);
  border-radius: 20px;
  color: white;
  padding: 16px;
  height: 10px;
  font-weight: 400;
  font-size: 0.7em;
  transition: 250ms ease;
}

header nav ul:nth-of-type(3) li:hover {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 -1px 2px 0 rgba(255, 255, 255, 0.5),
    0 3px 6px 0 rgba(0, 44, 97, 0.2);
  transform: translateY(-2px);
}

main {
  margin-top: 15vh;
  z-index: 1;
}

main ul {
  list-style-type: none;
  padding: 0;
}

main ul li {
  display: flex;
  align-items: center;
}

article {
  background: white;
  border-radius: 10px;
  color: rgb(66, 84, 102);
}

article img {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

article div {
  padding: 1em;
  background: white;
}

h2 {
  color: rgb(10, 37, 64);
}

article ul {
  display: flex;
  margin: 1.5em 0 0 0;
}

article ul li {
  background: #e3edf5;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 0.8em;
  margin-right: 0.5em;
}
